extends ../../main

block content
    .row
        .col-md-12
            .card
                .card-stats
                    a(href="/publishes/add")
                        .card-header.btn(data-background-color="blue")
                            i.material-icons(title="Add new book") add

                if !list
                    .card-content
                        h3.text-right There are no list
                else
                    .card-content
                        h2.text-right Publish list
                        if list.length !== 0
                            table.table
                                thead.text-primary
                                    th Publish
                                    th Telephone
                                    th Days for export
                                    th
                                tbody
                                    each publish in list
                                        tr
                                            td.text-left
                                                | #{publish.name}
                                            td.text-left
                                                | #{publish.telephone}
                                            td.text-left
                                                | #{publish.day}
                                            td.text-left.col-md-1
                                                .td-actions
                                                    a(href=`/publishes/delete?id=${publish.id}`)
                                                        button.btn.btn-primary.btn-simple.btn-xs
                                                            i.material-icons delete


