extends ../../main

block content
    .row
        .col-md-12
            .card
                .card-stats
                    a(href="javascript:history.back()")
                        .card-header.btn(data-background-color="blue")
                            i.material-icons(title="Back") keyboard_arrow_left


                .card-content
                    h2.text-right Conclusion date price
                    form(method='post')

                        .form-group.label-floating
                            label.control-label Date
                            input.form_date.form-control(type="text", id="date", name="date", required)


                        button.btn.btn-primary.btn-block(type="submit" data-background-color="blue") Get

                    if data.length !== 0
                        p Total sum: #{data}


block scripts
    script.
      'use strict';

      $(function () {
        $(".form_date").datetimepicker({
          format: 'yyyy-mm-dd',
          autoclose: true,
          minView: 'month',
          todayHighlight: true,
          endDate: new Date(),
          timezone: 'GMT'
        });
      })