block left-menu
    .sidebar(data-color="blue", data-image="../assets/img/book.jpg")
        .logo
            a.simple-text(href="/") Book Shop
        .sidebar-wrapper
            ul.nav
                li
                    a(href="/books")
                        i.material-icons book
                        p Books


                li
                    a(href="/sales")
                        i.material-icons shopping_basket
                        p Sales

                li
                    a(href="/publishes")
                        i.material-icons print
                        p Publishes
